<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Delivery Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in trackList track by $index">
      <td>{{row.number}}</td>
      <td>{{row.name}}</td>
      <td>{{row.date | date:'dd/MM/yyyy hh:mm' }}</td>
      <td style="color : {{row.color}}">{{row.status}}</td>
      <td><a ng-click="goTo(row)" href="">View Details</a></td>
    </tr>
  </tbody>
</table>
