<div style="margin-left: 40px; margin-right: 40px">
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-default" ng-click="goBack()">Back</button>
            <br/>
            <h3>Data stored:</h3>
            <ul>
                <li><strong>Temperature:</strong> {{contract.temperature}}</li>
                <li><strong>Delay:</strong> {{contract.delay}}</li>
                <li><strong>Pressure:</strong> {{contract.pressure}}</li>
                <li><strong>Light:</strong> {{contract.light}}</li>
                <li><strong>Breakage Alert:</strong> {{contract.breakageAlert}}</li>
            </ul>
        </div>
    </div>
</div>