<div style="margin-left: 40px; margin-right: 40px">
    <div class="row">
        <div class="col-md-4">
            <button type="submit" class="btn btn-default" ng-click="goToList()">Back</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h3>Charger: {{chargingPoint.identifier}}</h3>
            <ul>
                <li><strong>Vendor:</strong> {{chargingPoint.chargePointVendor}}</li>
                <li><strong>Model:</strong> {{chargingPoint.chargePointModel}}</li>
            </ul>
        </div>
        <div class="col-md-10">
            <h3>Connectors:</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th>Identifier</th>
                    <th>Status</th>
                    <th>Book</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="con in chargingPoint.connectors track by $index">
                    <td>{{con.id}}</td>
                    <td><span>{{con.status}}</span></td>
                    <td><a href="" ng-click="Reserve(cp.identifier)">Book</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>