<div id="bookCharge_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Book Charger</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6 form-group">
                        <label >Date and Time</label>
                        <input class="form-control" moment-picker="bookCharge.date" ng-model="bookCharge.dateModel"
                            format="DD/MM/YYYY ha" max-view="hour" selectable="checkDate(date, type)" placeholder="Datetime">
                    </div>
                    <div class="col-xs-6 form-group">
                        <label >RFID</label>
                        <input class="form-control" type="text" ng-model="bookCharge.rfid">
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="book()">Save</button>
            </div>
        </div>
    </div>
</div>