<div style="margin-left: 40px; margin-right: 40px; margin-top: 20px">
    <div class="row" style="min-height:30vh">
        <div class="col-md-3 col-xs-12">
            <button type="submit" class="btn btn-default" ng-click="goToList()">Back</button>
            <button type="submit" class="btn btn-success" ng-click="bookCharger()">Book</button>
            <h3>Charger: {{chargingPoint.identifier}}</h3>
            <ul>
                <li><strong>Vendor:</strong> {{chargingPoint.chargePointVendor}}</li>
                <li><strong>Model:</strong> {{chargingPoint.chargePointModel}}</li>
            </ul>
        </div>
        <div class="col-md-9 col-xs-12">
            <h3>Connectors:</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th>Identifier</th>
                    <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="con in chargingPoint.connectors track by $index">
                    <td>{{con.id}}</td>
                    <td><span>{{con.status}}</span></td>
                    <!--<td><a href="" ng-show="con.status != 'Unavailable'" ng-click="bookCharger(con)">Book</a></td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">        
        <div class="col-xs-12">
            <h3>POI:</h3>
            <tags-input ng-model="selectedPlaces" add-from-autocomplete-only="true" on-tag-added="searchPOIs()" on-tag-removed="searchPOIs()" replace-spaces-with-dashes="false">
                <auto-complete source="loadTags($query)" ></auto-complete>
            </tags-input>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 mapCharger" >
            <div id="map"></div>
        </div>
    </div>
</div>

<div ng-include="'/views/bookCharger_modal.html'"></div>