/* Put your css in here */

a {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

ul li  ul {
  display: none;
}

.open {
   display: block;
}

.btn-login {
  margin-top: 23px;
}
#map {
  height: 100%;
  width: 100%;
  position: relative;
}

.mapCharger #map {
  min-height: 40vh;
}
