/* Put your css in here */

a {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

ul li  ul {
  display: none;
}

.open {
   display: block;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}
